<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.section01.xml.DynamicSqlMapper">

    <resultMap id="menuResultMap" type="com.ohgiraffers.common.MenuDTO">
        <id property="code" column="MENU_CODE"/>
        <result property="name" column="MENU_NAME"/>
        <result property="price" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUE"/>
    </resultMap>
<!--    <if>태그 : test 속성의 조건에 해당할 때만 엘리먼트 구문을 쿼이리에 포함한다.-->

    <select id="selectMenuByPrice" resultMap="menuResultMap" parameterType="hashmap">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
          FROM TBL_MENU
          WHERE ORDERABLE_STATUS = 'Y'

<!-- ![CDATA[]] -> 이 안에 있는건 문자로 읽으라는 의미. 태그로 인식하지 말라는 뜻 !-->
<!--        lte 는 이하 이다, gt는 초과 이다,lt 는 미만이다, gte는 이상이다.   -->
        <if test="price gte 0 and price lte 10000">
            <![CDATA[
             AND MENU_PRICE < #{price}
                ]]>
        </if>
        <if test="price gt 10000 and price lte 20000">
            AND MENU_PRICE BETWEEN 10000 AND #{price}
        </if>
        <if test="price gt 20000 and price lte 30000">
            AND MENU_PRICE BETWEEN 20000 AND #{price}
        </if>
        <if test="price gt 30000">
            AND MENU_PRICE BETWEEN 30000 AND #{price}
        </if>

    </select>

    <select id="searchMenu" parameterType="searchCriteria" resultMap="menuResultMap">

        SELECT
        A.MENU_CODE,
        A.MENU_NAME,
        A.MENU_PRICE,
        A.CATEGORY_CODE,
        A.ORDERABLE_STATUS
        FROM TBL_MENU A

        <if test="condition == 'category'">
            JOIN TBL_CATEGORY B ON (A.CATEGORY_CODE = B.CATEGORY_CODE)
        </if>

        WHERE A.ORDERABLE_STATUS = 'Y'

        <if test="condition == 'name'">
            AND A.MENU_NAME LIKE CONCAT ('%', #{value}, '%')
        </if>

        <if test="condition == 'category'">
            AND B.CATEGORY_NAME = #{value}
        </if>

    </select>

<!--    <choose> 태그 : 자바의 switch - case 문 역할을 한다. -->
<!--    <choose>
            <when rest= 조건>
            쿼리 구문
              </when>
              ...
              <otherwise>
                    쿼리 구문
               </otherwise>
               어떠한 when 조건도 충족하지 못하면 otherwise 구문을 쿼리에 포함한다.
               -->

    <select id="searchMenuByCategory" parameterType="searchCriteria" resultMap="menuResultMap">

        SELECT
        A.MENU_CODE,
        A.MENU_NAME,
        A.MENU_PRICE,
        A.CATEGORY_CODE,
        A.ORDERABLE_STATUS
        FROM TBL_MENU A
        JOIN TBL_CATEGORY B ON (A.CATEGORY_CODE = B.CATEGORY_CODE)
        WHERE A.ORDERABLE_STATUS = 'Y'
        <choose>
            <when test="value == '식사'">
                AND B.REF_CATEGORY_CODE = 1
            </when>
            <when test="value == '음료'">
                AND B.REF_CATEGORY_CODE = 2
            </when>
            <otherwise>
                AND B.REF_CATEGORY_CODE = 3
            </otherwise>
        </choose>

    </select>

<!--    <foreach> 태그 : 자바 for 문 역할을 한다.
                1. collection 속성 : 반복을 수행할 대상
                2. item 속성 : 반복을 수행할 때 마다 꺼내올 값의 이름 설정
                3. open 속성 : foreach 엘리먼트 구문의 가장 앞에 올 문자
                4. separator 속성 : 반복이 수행될 때 꺼내온 item 사이에 들아갈 문자
                5. close 속성 : 구문의 가장 마지막에 올 문자
                -->

    <select id="searchMenuByRandomMenuCode" parameterType="hashmap" resultMap="menuResultMap">

        SELECT
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        FROM TBL_MENU
        WHERE ORDERABLE_STATUS = 'Y'
        AND MENU_CODE IN

        <foreach collection="randomMenuCodeList" item="menuCode" open="(" separator=", " close=")">
            #{menuCode}
        </foreach>

    </select>

    <select id="searchMenuByCodeOrSearchAll" parameterType="SearchCriteria" resultMap="menuResultMap">

        SELECT
        MENU_CODE,
        MENU_NAME,
        MENU_PRICE,
        CATEGORY_CODE,
        ORDERABLE_STATUS
        FROM TBL_MENU

        <if test="condition != null and condition eq 'menuCode'">
            WHERE MENU_CODE = #{value}
        </if>



    </select>
</mapper>











